/* 
    Document   : vispublica_dashboard
    Created on : 24/01/2013, 09:49:17
    Author     : GUILHERME
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.mapWrapper{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 355px;
    width: 350px;
}

.mapWrapper svg{
    margin-left: 15px;
    margin-top: -25px;
}

.rightColumn{
    float: left;
    position: relative;
}

.containerButtonAddSituacao{
    position: absolute;
    right: 8px;
    top: 0;
    z-index: 1;
    font-size:11px; 
}

.firstColumnWrapper{
    background: #FFFFFF;
    /*border: 1px solid #CCCCCC;*/
    color: #333333;
    font-family: "Helvetica Neue",Arial,Sans-serif;
    font-weight: 180;
    height: 350px;
    text-align: justify;
    width: 534px;
    margin-left: 15px;
}

.highChartsColumnWrapper{
    background: #FFFFFF;
    /*border: 1px solid #CCCCCC;*/
    color: #333333;
    font-family: "Helvetica Neue",Arial,Sans-serif;
    font-weight: 180;
    height: 350px;
    text-align: justify;
    width: 525px;
    margin-left: 15px;
    position: absolute;
}

.firstColumnWrapper .lengendGroup text{
    font-size: 14px;
}

/***PROVISÓRIO***/
.lengendGroup{
    display:none;
}

.textGroup{
    display:none;
}


.columnLoaderWrapper, .tableWrapper{

    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 10px auto 0;
    width: 882px;
}



.columnLoaderWrapper, .columnWrapper{
    height: 290px;
    position: relative;
    padding-bottom: 2px;

}

.inputUrlLabel {
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
}

.tableWrapper{
    height: 250px;
    overflow: auto;
    position: relative;
}

.optionsWrapper {
    background: none repeat scroll 0 0 #F6F6F6;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    padding: 2px;
    width: 880px;
}

.columnWrapper p{
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
}

.divLoader p{
    color: #4E6D04;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
}

.firstColumnWrapper p{
    padding-left: 10px;
}

.googleTableWrapper {
    margin: 0 auto;
    position: relative;
    width: 865px;
}

.google-visualization-table-th{
    padding: 2px 6px !important;
}

.tableModalWrapper{
    border: 1px solid #CCCCCC;
    float: left;
    height: 197px;
    margin-top: 10px;
    width: 466px;
    padding-bottom: 3px;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px; /* Gets overriden by D3-assigned height below */
    margin-right: 2px;
    background-color: teal;
} 

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}


/*MAPA*/
.str0 {
    fill:#A3CFA1;
    fill-opacity:1;
    stroke:#333;
    stroke-opacity:1;
    stroke-width:300;
    stroke-miterlimit:4;
    stroke-dasharray:none;
}

.str2 {
    stroke:#1F1A17;stroke-width:281;
}

.str1 {
    stroke:#72706F;stroke-width:352;
}

.str3 {
    stroke:#1F1A17;stroke-width:704;
}
.fil3 {
    fill:none;
}/*
.fil0 {fill:#BFD8FF}
.fil1 {fill:#F4E2BA}
.fil2 {fill:#FFF3E3}
.fil4 {fill:#00FF00}
.fil5 {fill:#FF9900}
.fil6 {fill:#Ff0000}
.fil7 {fill:#00FFFF}
.fil8 {fill:#FFFF00}*/

.str0:hover{
    fill:rgb(99,173,95);
}
.estadoClicked {
    fill:rgb(89,143,85);
}

.wrapperTitle {
  color: #3E576F;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;;
  font-size: 16px;
}

.tituloSitucao{
    font-weight: bold;
}

.tituloForm{
    font-weight: bold;    
}

.parameterValue{
    color: #1c8d5e;
    font-weight: bold;
}

.dialog-form-sobre{
    height: 460px;
    width: 620px;
    min-height: 0;
    width: auto;
    font-size: 14px;
}

.dialog-form-sobre p{
    text-align: justify;
}

.creativeCommons {
    float: left;
    font-size: 11px;
    margin-top: 17px;
    position: absolute;
    text-align: right;
    width: 98%;
}

.mapTitle{
    background: #FFF;
    color: black;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana;
    /*font-size: 34px;*/
    height: 45px;
    text-align: center;
}

.tableOptions .ui-button-text-only .ui-button-text{
    padding: 0.2em 1em;
}

#bttAtualizar{
    float: right;
}

.info p{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/***STYLE****/

.filtersWrapper{
    overflow: hidden;
    margin-bottom: 10px;
}

.tableOptions{
    width: 100%;
}

.tableOptions span, .tableOptions .ui-button .ui-button-text{
    font-size: 12px;
}

.tableOptions tr td > span{
    font-weight: bold;
}

.urlText{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 5px; 
}

.divLoader p{
    text-align: center;
}

.divLoader{
    text-align: center;
    background: none repeat scroll 0 0 #DDDDDD;
    opacity: 0.45;
    display: none;
    vertical-align: middle;
}

#divImgtableWrapper{
    display: table-cell;
}

#dialog-form-orgao label{
    font-weight: bold;
}

.MessageErroModal{
    font-size: 11px;
    font-weight: bold;
    color: red;
}

#erroConsultaOrgao{
    margin-bottom: -10px;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
    border-color: #079200;
}

.ui-dialog .ui-dialog-title{
    color: #079200;
}